@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html, body, #root,.background, .container{
  box-sizing: border-box; 
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.background{
  padding: 40px;
  background: linear-gradient( to right, rgb(108, 45, 203), rgba(41, 70, 226, 1));
}
.container {
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 7px white, 0 0 10px black;
}
.container > form > input{
  border-radius: 114px;
  background: #FFF;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.15);
  font-size: 48px;
  padding: 10px 20px 10px 20px;
  position: absolute;
  top: 50%;
  font-weight: bolder;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.container > img{
  
  height: 200px;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.userbunny1{
  height: 400px;
  position: absolute;
  top:20%;
  left: 75%;
  transform: translate3d(-50%, 0, 0);
}

.userbunny2{
  height: 400px;
  position: absolute;
  top:20%;
  left: 25%;
  transform: translate3d(-50%, 0, 0);
}

.userbunny1 ~ input{
  position: absolute;
  top:75%;
  left: 75%;
  transform: translate3d(-50%, 0, 0);
}

.userbunny2 ~ input{
  position: absolute;
  top:75%;
  left: 25%;
  transform: translate3d(-50%, 0, 0);
}

.box > input{
  transform: translate3d(-50%, 0, 0);
  position: absolute;
  margin: 10px;
  display: inline-block;
  width: 300px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 35px;
  border: 3px solid #FFF;
  background: rgba(255, 255, 255, 0.30);
  font-size: 24px;
  font-family: SBAggroB;
}

.box > img{
  height: 230px;
  transform: translate3d(-50%, 15%, 0);
  position: absolute;
}
#oneone{
  transform: translate3d(107%, 15%, 0);
  position: absolute;
}
#twotwo{
  transform: translate3d(-45%, 15%, 0);
  position: absolute;
}
#threethree{
  transform: translate3d(-194%, 15%, 0);
  position: absolute;
}
.box>#one{
  transform: translate3d(60%, 0, 0);
}
.box>#three{
  transform: translate3d(-160%, 0, 0);
}
.chooseForm{
  position: absolute;
  left: 50%;
  top:25%;
  transform: translate3d(-50%, 0, 0);
}
#o{
  color: #FFF;
  writing-mode: vertical-lr;
  position: absolute;
  transform: translate3d(100%, 830%, 0);
}
#t{
  color: #FFF;
  position: absolute;
  transform: translate3d(-53%, 830%, 0);
  writing-mode: vertical-lr;
}
#th{
  color: #FFF;
  position: absolute;
  transform: translate3d(-205%, 830%, 0);
  writing-mode: vertical-lr;
}