@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html, body, #root,.background, .container{
  box-sizing: border-box; 
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow:hidden;
  margin:0 auto;
}
.background{
  padding: 40px;
  background: linear-gradient( to right, rgb(108, 45, 203), rgba(41, 70, 226, 1));
}
.container {
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 7px white, 0 0 10px black;
}
.startButton > input{
  border-radius: 114px;
  background: #FFF;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.15);
  font-size: 48px;
  padding: 10px 20px 10px 20px;
  position: absolute;
  top: 50%;
  font-weight: bolder;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.container > img{
  
  height: 200px;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.userbunny1{
  height: 400px;
  position: absolute;
  top:20%;
  left: 75%;
  transform: translate3d(-50%, 0, 0);
}

.userbunny2{
  height: 400px;
  position: absolute;
  top:20%;
  left: 25%;
  transform: translate3d(-50%, 0, 0);
}

.userbunny1 ~ input{
  position: absolute;
  top:75%;
  left: 75%;
  transform: translate3d(-50%, 0, 0);
}

.userbunny2 ~ input{
  position: absolute;
  top:75%;
  left: 25%;
  transform: translate3d(-50%, 0, 0);
}

.container1{
	text-align: center;
	margin-top:200px;
}
.card-box{
	transition: 0.3s;
	position: relative;
	border-radius: 8px;
	width:100%;
	max-width: 280px;
	overflow: hidden;
	display: inline-block;
	margin-top:150px;
	box-shadow: 0 20px 35px rgba(0,0,0,0.3);
	transform: scale(1);
  display: inline-block;
}
.card-box img{
  height:329px;
}
.card-box:hover{
	transform: scale(0.95);
}
.text-wrap{
	position: absolute;
	bottom:0;
	z-index: 10;
	padding:24px;
	text-align: center;
}
.text-wrap h1{
	font-size: 46.4px;
	font-weight: bold;
	margin-bottom:18px;
  margin: 0;
	color:#fff;
}
.text-wrap p{
  margin: 5px;
  font-size: 20px;
	color:#fff;
	line-height: 1.5;
} 
.card-box {
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 20px;
}
.card-box input{
  position: absolute;
  height: 100%;
  width: 100%;
  background: 0%;
  border: none;
}
.alignContainer{
  text-align: center;
}
/* video {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url() no-repeat;
  background-size: cover;
} */
video {
  width: 100vw;
  background-size : cover;
  overflow: hidden;
}
